name: Test Runner

on:
  workflow_run:
    workflows:
      - "CI - Vérification HTML"
    types:
      - completed

jobs:
  test-runner:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on:
      - self-hosted
      - linux
      - x64

    steps:
      - name: Recuperation du code
        uses: actions/checkout@v3

      - name: Déploiement vers serveur
        run: |
          sudo cp index.html /var/www/html/index.html

      - name: Verification

      - name: Tests de commandes
        run: |
          echo "Runner OK"
          hostname
          whoami
          uname -a
